<div class="cfmedia">
  <style>
    .cfmedia .jumbotron {
      border     : 4px dashed #b4b9be;
      text-align : center;
    }

    .cfmedia .thumbnail {
      padding       : 1px;
      border        : 0px solid #ddd;
      border-radius : 0px;
      max-height    : 190px;
      overflow      : hidden;
    }

    .cfmedia .thumbnail img {
      height : 112px;
    }

    .cfmedia .selected img {
      border        : 2px dashed #428BCA;
      border-radius : 0px;
    }

    .cfmedia .cf-search {
      background-color : #EEEEEE;
      padding          : 3px 5px;
    }
  </style>
  <div ng-transclude ng-click="openMediaModal(); openMediaModalCtrl()"></div>

  <!-- Modal -->
  <div class="cfmedia-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" style="z-index : 1030; width : 92%;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modalLabel">{{ headTitle }}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="jumbotron" style="padding: 17px 0; margin-bottom: 0px;"
                   ngf-drop
                   ng-model="modelUpload"
                   class="drop-box"
                   ngf-drag-over-class="dragover"
                   ngf-multiple="true"
                   ngf-allow-dir="true"
                   ngf-accept="accept"
                      >
                <h3 style="margin-top: -3px;color: #393939;">
                  Drop files anywhere to upload
                </h3>

                <p class="lead" style="color: #393939;">
                  <translate>or</translate>
                </p>

                <button ngf-select ngf-multiple="true" ng-model="modelUpload" type="button"
                        class="btn btn-primary btn-lg no-border"
                        style="font-size: 16px;"
                        ngf-accept="accept">
                  Select Files
                </button>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-12 cf-search">
                <div class="input-group input-group-sm col-md-4 pull-right">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                  <input type="text" class="form-control" ng-model="search" placeholder="Search ...">
                </div>
              </div>

              <div class="col-md-12" style="height: 256px; overflow: auto; margin-top: 14px;">
                <div ng-repeat="element in elements | orderBy:order:true" class="col-lg-2 thumbnail"
                     ng-class="{'selected': element.activeClass}"
                     ng-click="select(element, $index)">
                  <img ng-src="{{ srcUrl + element.meta }}" class="img-thumbnail" alt="">
                </div>
              </div>

              <button type="button" class="btn btn-white no-border" ng-click="loadMore()" style="width: 100%;">
                <i class="glyphicon glyphicon-plus"></i>
                Show More
              </button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default no-border" data-dismiss="modal">
            <translate>Close</translate>
          </button>
          <button type="button" class="btn btn-primary no-border" ng-click="selectSaveCtrl(); selectSave()">
            <translate>Ok</translate>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>